<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Astronomical Picture</title>
</head>

<body class="bg-dark">

    <th:block th:include="index :: header"></th:block>
    <main role="main" class="container">
        <h1 class="text-light">Astronomical Picture of the Day</h1>
        <p class="muted text-light">Discover the cosmos! Each day a different image or photograph of our fascinating
            universe is featured, along with a brief explanation written by a professional astronomer.</p> <br> <br>
        <h3 class="text-light mb-5"><span class="text-info" th:text="${apod.title}"></span></h3>
        <div class="row">
            <img th:src="${apod.url}" class="img-fluid mb-5" alt="Astronomical image">
        </div>
        <div class="row">

            <p class="text-light lead text-left ml-5" th:text="${apod.explanation}"></p>
        </div>
    </main>
    <th:block th:include="index :: footer"></th:block>

</body>

</html>